@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield;      /* Standard property */
}

/* Target WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Ensures the element is entirely removed and no space is left */
}

/* Removes browser focus outline on Recharts SVG elements */
.recharts-wrapper:focus,
.recharts-sector:focus,
.recharts-surface:focus,
.recharts-pie:focus,
svg:focus {
    outline: none !important;
}

/* Remove any stroke border when active */
.recharts-sector {
    stroke: none !important;
}